@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Vidaloka);

/* elements */

body {
  font-family: "Vidaloka", serif;
  font-size: 1.4em;
  color:#847976;
  background-color: rgba(64, 105, 170, 0.5);
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4em;
  color: #989765;
}
img {
  max-width: 100%;
  height: auto;
}
/* /.elements */

/*global*/

#container {
  max-width: 90%; /*400px*/
  margin: auto;
  text-align: center;
  background-color: #fff;
  padding: 2%;
  border-radius: 20px;
  }
/* ./global */

/*components*/

#city,
#temperature,
#weather,
.spacer {
  display: inline-block;
}

.spacer {
  width: 5%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #989765;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #705444;
}

.info {
  margin-bottom: 20px;
}

#image {
  overflow: hidden;
  background-size: contain;
  border-radius: 5px;
  margin: 0 auto;
}

#convert {
  background-color: rgba(112, 84, 68, 0.5);
  color:#50403a;
  margin: 15px auto 0;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  float: center;
  font-size: small;
  border: 3px outset;
  cursor: pointer;
  cursor: hand;
}

#convert:hover,#convert:focus {
  color:#fff;
  background-color:#989765;
}

#footer {
  margin-top: 50px;
  font-size: 0.5em;
}
/* ./components */

/* media queries */

@media all and (min-width: 600px) {
  #container {
    max-width: 85%;
  }
}

@media all and (min-width: 900px) {
  #container {
    max-width: 800px;
  }
  #image {
  max-width: 760px;
}
}
